@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes upDown {
    0% {
        transform: translate(10px, -10px);            
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(-10px, -10px);
    }
    75% {
        transform: translate(-10px, 10px);
    }
    100% {
        transform: translate(10px, -10px);    
    }
}

@keyframes downToUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}