:root {
    --gray: #777777;
    --white: #FAFAFA;
    --brown-light: #BA8554;
    --brown: #A14F03;
    --black: #000000;

    --gradient-black: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
    --gradient-brown: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);

    --shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    --shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.1);
    --shadow-inset: inset 0px 4px 4px rgba(0, 0, 0, .5);
}

@import 'base/base.scss';


@import 'base/*.scss';
@import 'components/*.scss';
@import 'blocks/*.scss';
