@import 'base/*.scss';
@import 'libs/*.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    color: $gray;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: .2rem;
    padding: 5rem;
    background-color: $white;
}
.main_bg {
    background: $gray-light;
}

@import 'components/*.scss';
@import 'blocks/*.scss';