* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #777777;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 50px;
    background: #FFFFFF;
}

.container {
    background: #F7F7F7;
    height: auto;
    width: 100%;
}

@import 'blocks/*.scss';
@import 'components/*.scss';