.feedBack {
    padding: 80px 200px;
    position: relative;
    z-index: 10;
    &__wrapper {
        display: grid;
        grid-template: repeat(3, auto) / 1fr;
        row-gap: 80px;
    }
    &-cart {
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        padding: 55px 90px;
        transform: skewX(350deg);
        box-shadow: var(--shadow);
        & > * {
            transform: skewX(-350deg);
        }
        &__img {
            width: 167px;
            height: 167px;
            float: left;
            border-radius: 100%;
            shape-outside: circle(50% at 50% 50%);
            margin-right: 40px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                transform: scale(1.2);
                transition: all .5s;
            }
        }
        &__name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);
            opacity: 0;
            font-weight: 400;
            font-size: 22px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            transition: all .5s;
        }
        &__name-hidde {
            display: none;
        }
        &__descr {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2px;
        }
        &:hover &__name {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
        &:hover img {
            transform: scale(1);
            filter: blur(3px) brightness(70%);
        }
    }
}

@media (max-width: 1440px) {
    .feedBack {
        padding: 80px 150px;
        &-cart {
            padding: 45px 50px;
        }
    }
    
}

@media (max-width: 991px) {
    .feedBack {
        padding: 80px 80px;
        &-cart {
            padding: 55px 30px;
        }
    }
}

@media (max-width: 768px) {
    .feedBack {
        &-cart {
            &__img {
                float: none;
                border-radius: 100%;
                margin-bottom: 20px;
            }
            &__subtitle {
                text-align: center;
                margin-bottom: 20px;
            }
            &__name {
                display: none;
            }
            &__name-hidde {
                display: block;
                position: absolute;
                top: 167px;
                left: 50%;
                font-size: 20px;
                line-height: 29px;
                text-align: left;
                letter-spacing: 1px;
                color: var(--gray);
            }
            &__descr {
                text-align: center;
            }
            &:hover img {
                transform: none;
                filter: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .feedBack {
        padding: 40px 20px;
        &__wrapper {
            row-gap: 40px;
        }
        &-cart {
            transform: skewX(0);
            box-shadow: var(--shadow);
            & > * {
                transform: skewX(0);
            }
            &__name-hidde {
                position: absolute;
                top: 93%;
                left: 40%;
                font-size: 18px;
                line-height: 29px;
                text-align: right;
                letter-spacing: 2px;
                color: var(--gray);
            }
        }
    }
}