.footer {
    background: #333333;
    padding: 80px 100px;
    &__logo {
        img {
            display: block;
            margin: 0 auto;
            width: 120px;
            height: 151px;
            margin-bottom: 10px;
        }
    }
    &__menu {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            list-style: none;
            transition: all .3s;
            margin-top: 20px;
            a {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 2px;
                text-align: center;
                color: var(--white);
                text-decoration: none;
                margin: 0 25px;
            }
            &:hover {
                transform: scale(1.1) translateY(2px);
                text-shadow: 0 0 0 white;
            }
        }
    }
}


@media (max-width: 991px) {
    .footer {
        padding: 80px 50px;
        
        &__menu {
            width: 90%;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 60px 20px;
        &__menu {
            width: 100%;
            li {
                list-style: none;
                transition: all .3s;
                margin-top: 20px;
                a {
                    letter-spacing: 1px;
                }
                &:hover {
                    transform: none;
                    text-shadow: none;
                }
            }
        }
    }
}