.header {
    position: relative;
    height: 95vh;
    background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url('../img/header_bg.jpg') center center/cover no-repeat ;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    &__logo {
        position: absolute;
        left: 50px;
        top: 50px;
        width: 56px;
        height: 70px;
        animation: upDown 15s ease infinite;
        img {
            width: 100%;
        }
    }
    &__block {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__title {
        color: white;
        &_main {
            display: block;
            font-weight: 800;
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 10px;
            animation: leftToRight 2s ease-in-out 1s both;
            backface-visibility: hidden;
        }
        &_descr {
            display: block;
            font-weight: 300;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 5px;
            margin-top: 20px;
            margin-bottom: 50px;
            animation: rightToLeft 2s ease-in-out 1s both;
            backface-visibility: hidden;
        }
    }
    &__btn {
        animation: downToUp 2s ease-in-out 1s backwards;
    }
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes upDown {
    0% {
        transform: translate(10px, -10px);            
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(-10px, -10px);
    }
    75% {
        transform: translate(-10px, 10px);
    }
    100% {
        transform: translate(10px, -10px);    
    }
}

@keyframes downToUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}