.header {
    position: relative;
    height: 95vh;
    background: var(--gradient-black), url('../img/header_bg.jpg') center center/cover no-repeat ;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    &__logo {
        position: absolute;
        left: 5rem;
        top: 5rem;
        width: 5.6rem;
        height: 7rem;
        animation: upDown 15s ease infinite;
        img {
            width: 100%;
        }
        &:hover {
            animation-play-state: paused;
        }
    }
    &__block {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__title {
        color: var(--white);
        &_main {
            display: block;
            font-weight: 800;
            font-size: 5rem;
            line-height: 6rem;
            letter-spacing: 1rem;
            animation: leftToRight 2s ease-in-out 1s both;
            backface-visibility: hidden;
        }
        &_descr {
            display: block;
            font-weight: 300;
            font-size: 4rem;
            line-height: 4.8rem;
            letter-spacing: 5px;
            margin-top: 2rem;
            margin-bottom: 5rem;
            animation: rightToLeft 2s ease-in-out 1s both;
            backface-visibility: hidden;
        }
    }
    &__btn {
        animation: downToUp 2s ease-in-out 1s backwards;
    }
}