.tours {
    min-height: 94.2rem;
    padding: 8rem 0;
    position: relative;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
        margin-bottom: 8rem;
        height: 52rem;
    }
    &-card {
        perspective: 250rem;
        position: relative;
        &__said {
            height: 52rem;
            width: 34.1rem;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            color: white;
            transition: all .8s ease-out;
            border-radius: .8rem;
            &_front {
                background-color: $white;
                box-shadow: $box-shadow;
            }
            &_back {
                background-color: linear-gradient((156.85deg, $brown-light 3.65%, $brown-dark 100%));
                transform: rotateY(180deg);
                box-shadow: $box-shadow;
                padding: 10rem 3.2rem;
                margin: 0 auto;
                text-align: center;
                color: $white;
            }
        }
        &__img {
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
            margin-bottom: 4.5rem;
        }
        &__title {
            position: absolute;
            top: 17.6rem;
            right: 0;
            font-weight: 300;
            font-size: 2.8rem;
            line-height: 3.4rem;
            text-align: right;
            letter-spacing: .2rem;
            color: $white;
            span {
                background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
                position: absolute;
                right: 0;
            }
            &_top {
                padding: 1.1rem 1.8rem .2rem 1.9rem;
            }
            &_btm {
                top: 4.2rem;
                padding: 1.1rem 1.8rem 1rem 1.9rem;
            }
        }
        &__descr {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.9rem;
            letter-spacing: .2rem;
            text-align: center;
            color: $gray;
            ul {
                list-style-type: none;
                li {
                    display: inline-block;
                    margin-bottom: 2rem;
                    border-bottom: .1rem solid $gray;
                    width: auto;
                }
            }
        }
        &__price {
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.9rem;
            letter-spacing: .2rem;
            margin-bottom: 87px;
        }
        &__val {
            font-weight: 500;
            font-size: 6rem;
            line-height: 7.2rem;
            letter-spacing: .2rem;
            margin-bottom: 8.7rem;
        }
        &:hover &__said_front {
            transform: rotateY(-180deg);
        }
        
        &:hover &__said_back {
            transform: rotateY(0deg);
        }
    }
    &__btn {
        text-align: center;
    }
}