.btn {
    position: relative;
    width: max-content;
    display: block;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: .5rem;
    text-decoration: none;
    border: transparent;
    cursor: pointer;
    transition: all .3s;
    z-index: 1;
    margin: 0 auto;
    box-shadow: var(--shadow-btn);
    backface-visibility: hidden;

    &_white {
        background: white;
        color: var(--gray);
        &:hover {
            color: #656464;
        }
    }
    &_brown {
        background: var(--brown-light);
        color: white;
        &:hover {
            background: #a17348;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        display: inline-block;
        z-index: -1;
        transition: all .4s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: var(--shadow);
        &::after {
            opacity: 0;
            transform: scale(1.2, 1.5);
        }
    }
    &:active {
        transform: translateY(1px);
        box-shadow: var(--shadow-inset);
    }
}

.btn__text {
    display: inline-block;
    width: max-content;
    padding: 1.5rem 1rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--brown);
    border-radius: 0;
    border-bottom: 1px solid var(--brown);
    text-decoration: none;
    transition: all 1s;
    span {
        margin: 0 5px;
    }
    &:hover {
        color: var(--white);
        background: var(--brown);
        border-radius: 5px;
        box-shadow: var(--shadow);
        transform: translate(2px, 2px);
    }
}