.btn {
    position: relative;
    @include style-link($gray);
    margin: 0 auto;
    padding: 1.5rem 4rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: .5rem;
    background: $white;
    border-radius: 5rem;
    transition: all .2s;
    &:hover {
        transform: translateY(-.4rem);
        box-shadow: $box-shadow;
        &::after {
            transform: scale(1.4, 1.8);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-.2rem);
        box-shadow: inset $box-shadow;
        color: darken($color: $gray, $amount: 10%);
    }
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        background: $white;
        border-radius: 5rem;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }
    &_big {
        animation: btnToUp 2s .3s ease-out backwards;
    }
    &_litle {
        padding: 1.5rem 2.1rem;
    }
    &_center {
        margin: 0 auto;
    }
}
